<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Проведи время с пользой{% endblock %}</title>
    {% block stylesheets %}
        <link media="print" rel="stylesheet" href="{{ asset('css/print.css') }}"/>
        <link media="screen" rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('script/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('script/main.js') }}"></script>
{% endblock %}
</body>
</html>